<!--<percent equals: add js value as html text.><percent: run JS code but show nothing in HTML page--> 
<!--Rename to ejs later-->
<!DOCTYPE HTML>
<html lang = "en">
<head>
  <meta charset="UTF-8">
  <title>Pizza Poller Deluxe</title>
</head>

<body>
<h1>Pizza Poller Deluxeeeee</h1>

<form action="/pizza" method = "POST">

  <h3>Meat</h3>
  <input class="toppCB" type = "checkbox" name = "ham" onchange="cBoxChange(this)"> Ham<br>
  <input class="toppCB" type = "checkbox" name = "bacon" onchange="cBoxChange(this)"> Bacon<br>
  <input class="toppCB" type = "checkbox" name = "pepperoni" onchange="cBoxChange(this)"> Pepperoni<br>
  <input class="toppCB" type = "checkbox" name = "salami" onchange="cBoxChange(this)"> Salami<br>
  <input class="toppCB" type = "checkbox" name = "shrimps" onchange="cBoxChange(this)"> Shrimps<br>

  <h3>Veg</h3>
  <input class="toppCB" type = "checkbox" name = "mushrooms" onchange="cBoxChange(this)"> Mushrooms<br>
  <input class="toppCB" type = "checkbox" name = "tomato" onchange="cBoxChange(this)"> Tomato<br>
  <input class="toppCB" type = "checkbox" name = "pineapple" onchange="cBoxChange(this)"> Pineapple<br>
  <input class="toppCB" type = "checkbox" name = "redonion" onchange="cBoxChange(this)"> Red Onion<br>
  <input class="toppCB" type = "checkbox" name = "jalapenos" onchange="cBoxChange(this)"> Jalapeños<br>
  <input class="toppCB" type = "checkbox" name = "peppers" onchange="cBoxChange(this)"> Peppers<br>
  <input class="toppCB" type = "checkbox" name = "olives" onchange="cBoxChange(this)"> Olives<br>

  <h3>Seasonings</h3>
  <input class="toppCB" type = "checkbox" name = "basil" onchange="cBoxChange(this)"> Basil<br>
  <input class="toppCB" type = "checkbox" name = "parsley" onchange="cBoxChange(this)"> Parsley<br>
  <input class="toppCB" type = "checkbox" name = "groundchili" onchange="cBoxChange(this)"> Ground Chili<br>
  
  <input type = "text" placeholder = "Please enter topping" name = "othertopping"><br>

  <button type="button" onclick="uncheckAll()">Margherita</button> 
  <button type="button" onclick='setTopp("hawaiian")'>Hawaiian</button> 
  <button type="button" onclick='setTopp("surfnturf")'>Surf n' Turf</button> 
  <button type="button" onclick='setTopp("farmhouse")'>Farmhouse</button> 
  <button type="button" onclick='setTopp("meatfeast")'>Meat Feast</button> 
  <button type="button" onclick='setTopp("vegetarian")'>Vegetarian</button> 
  <button type="button" onclick='setTopp("sizzler")'>Sizzler</button> 
  <button type="button" onclick='setTopp("supreme")'>Supreme</button> 
  <button type="button" onclick='setTopp("vegsupreme")'>Veg Supreme</button> 
  <br>
  <button type = "submit">Submit</button>
</form>

<h3>Favourite Pizzas</h3>
<p>Others have voted for:</p>
<%
let setToppings = {
margherita:  {name: "Margherita", ingred: ""},
hawaiian:    {name: "Hawaiian", ingred: "ham, pineapple"},
surfnturf:   {name: "Surf n' Turf", ingred: "bacon, shrimps"},
farmhouse:   {name: "Farmhouse", ingred: "ham, mushrooms, tomato"},
meatfeast:   {name: "Meat Feast", ingred: "bacon, ham, pepperoni"},
vegetarian:  {name: "Vegetarian", ingred: "mushrooms, peppers, red onion, tomato"},
sizzler:     {name: "Sizzler", ingred: "jalapenos, pepperoni, peppers, red onion"},
supreme:     {name: "Supreme", ingred: "bacon, ham, mushrooms, olives, pepperoni, tomato, basil"},
vegsupreme:  {name: "Veg Supreme", ingred: "mushrooms, olives, peppers, red onion, tomato, parsley, basil"}
};

// Remove non-ingredient database fields, sort and convert to string 
let choices = pizza.map((elem)=>{
  let arr=Object.keys(elem);
  arr.forEach((el,ind)=>{if (el == '_id') arr.splice(ind,1);});
  arr.forEach((el,ind)=>{if (el == 'othertopping') arr.splice(ind,1);});
  return arr.sort().join(", ");
});
//console.log("Joined: ",choices);

// Merge and count duplicates
let pizzaCount = choices.reduce(function(accChoices, currChoice) { 
  if (currChoice in accChoices) accChoices[currChoice]++; // Detect if current choice is same as any choices already accumulated
  else accChoices[currChoice] = 1;
  return accChoices;
}, {});
//console.log("Counted: ", pizzaCount);

// Add pizza set topping names
let topPizzas = [];
for (let elem in pizzaCount) {
  let nam = "Custom"; // If not overwritten with a set name it remains as this value
  for (let tops in setToppings) {
    if (elem == setToppings[tops].ingred) nam = setToppings[tops].name;
  }
  topPizzas.push ({name: nam, ingred:elem, count:pizzaCount[elem]});
};
//console.log("Set topping names: ",topPizzas);

// Sort in order of popularity
topPizzas.sort((a,b)=>{
  return b.count - a.count;  
});
//console.log("Sorted: ",topPizzas);

// Display
topPizzas.forEach((elem)=> {
  %>
  <b><%=elem.name%> : <%=elem.count%></b> : <%=elem.ingred%><br>
  <%
});
%>
<h3>Other toppings Poll</h3>
<ul class = "pizza">
  <%
  pizza.forEach ((elem)=> {
    if (elem.othertopping) {
      %>
      <li class="pizza">
        <span><%=elem.othertopping %></span><br>
      </li>
      <%
    }
  });
  %>
</ul>


<script>

function tickCB(cBArr) {
  // Ticks a checkbox named the same as every string sent as an argument 
  cBArr.forEach((elem)=>{
    const i=document.getElementsByName(elem)
    i[0].checked=true;
  });
}

function uncheckAll() {
  const toppCBs = Array.from(document.getElementsByClassName("toppCB"));
  toppCBs.forEach((elem)=>elem.checked = false);
}

function setTopp(kind) {
  uncheckAll();
  switch (kind) {
    case 'hawaiian':
      tickCB(["ham", "pineapple"]); 
      break;
    case 'surfnturf':
      tickCB(["bacon", "shrimps"]);
      break;
    case 'farmhouse':
      tickCB(["ham", "mushrooms","tomato"]);
      break;
    case 'meatfeast':
      tickCB(["bacon", "ham","pepperoni"]);
      break;
    case 'vegetarian':
      tickCB(["mushrooms", "peppers","red onion","tomato"]);
      break;
    case 'sizzler':
      tickCB(["jalapenos", "pepperoni","peppers","red onion"]);
      break;
    case 'supreme':
      tickCB(["bacon", "basil","ham","mushrooms","olives","pepperoni","tomato"]);
      break;
    case 'vegsupreme':
      tickCB(["basil", "mushrooms","olives","parsley","peppers","red onion","tomato"]);
      break;
  }
}

</script>

</body>
</html>